upstream node_cluster {
  {% for manager in groups['managers'] %}
  server {{ manager }}:80;
  {% endfor %}
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name api.omango.vn www.api.omango.vn;

  root /var/www/html;
  client_max_body_size 100M;

  ssl_certificate /etc/nginx/certs/default.crt;
  ssl_certificate_key /etc/nginx/certs/default.key;

  location / {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;

    proxy_pass http://node_cluster/;
    proxy_redirect off;
    error_log /var/log/front_end_errors.log;
  }

  error_page 502 /502.html;
  location = /502.html {}
}

server {
  listen 80;
  listen [::]:80;

  server_name api.omango.vn www.api.omango.vn;

  if ($host = api.omango.vn) {
    return 301 https://$host$request_uri;
  }

  if ($host = www.api.omango.vn) {
    return 301 https://$host$request_uri;
  }

  return 404;
}
